<div style="margin-bottom: 20px;"><p>The utilization of illustrations in business is widespread. Illustrations adorn the infographics, presentations, web-pages and many other visual ouputs.  Illustrations help to understand any information tied with business and finances.  Most of financial information become easy to understand when the issue explained by clear illustration rather than written on a large number of paper. Using ConceptDraw Business and Finance solution, you can quickly prepare presentations, web pages and other illustrative outputs related to business and finance. This article describes how to make business infographics on the example of illustration showing the circular flow of inputs and outputs between businesses and households.</p>
    
    <ol class="steps">
        <li>Run the ConceptDraw PRO new document. </li>
        <li>Lets start from making a background for our drawing. There are some ways to create a background for ConceptDraw drawings. Here, we will explain how to create the background for a single-page document.</li>
        <li>Open the Drawing shapes library - one of the basic ConceptDraw libraries. Select the Rectangle object and place it to your document. Resize an object by dragging a selection handle until the rectangle fills the entire page.</li>
        <br><img src="http://www.conceptdraw.com/How-To-Guide/picture/business-finance-infographics/shape-resize.png" alt="shape-resize" title="shape-resize">
            <li>Set the background color using the Fill options</li>
            <br><img src="http://www.conceptdraw.com/How-To-Guide/picture/business-finance-infographics/background-color.png" alt="background-color" title="background-color" width="300" style="width: 50%; border-width: 1px; border-style: solid;">
                <li>Next, move the background to another layer. Simply select the layer number in the Information panel.</li>
                <br><img src="http://www.conceptdraw.com/How-To-Guide/picture/business-finance-infographics/background-layer.png" alt="background-layer" title="background-layer" width="300" style="width: 50%; border-width: 1px; border-style: solid;">
                <li>Lock the background layer from changes.</li>
